﻿<h2>Add Student</h2>
<hr />
@model Student;
<div>
    @using (Html.BeginForm())
    {
        @Html.LabelFor(x => x.StudFirstName)
        @Html.TextBoxFor(x => x.StudFirstName)
        <br /><br />
        @Html.LabelFor(x => x.StudLastName)
        @Html.TextBoxFor(x => x.StudLastName)
        <br /><br />
        @Html.LabelFor(x => x.StudPhone)
        @Html.TextBoxFor(x => x.StudPhone)
        <br /><br />
        @Html.LabelFor(x => x.StudDob)
        @Html.TextBoxFor(x => x.StudDob)
        <br /><br />
        @Html.LabelFor(x => x.StudAddress)
        @Html.TextBoxFor(x => x.StudAddress)
        <br /><br />
        @Html.LabelFor(x => x.StudEmail)
        @Html.TextBoxFor(x => x.StudEmail)
        <br /><br />
        @Html.LabelFor(x => x.StudDoj)
        @Html.TextBoxFor(x => x.StudDoj)
        <br /><br />
        @Html.LabelFor(x => x.StudCourse)
        @Html.TextBoxFor(x => x.StudCourse)
        <br /><br />
        @Html.LabelFor(x => x.StudStream)
        @Html.TextBoxFor(x => x.StudStream)
        <br /><br />
        <input type="submit" value="Add Student" class="btn btn-primary" />
    }
</div>