﻿<h2>Students Table</h2>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">S.No</th>
                <th scope="col">Id</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Phone</th>
                <th scope="col">DateOfBirth</th>
                <th scope="col">Address</th>
                <th scope="col">Email</th>
                <th scope="col">DateOfJoining</th>
                <th scope="col">Course</th>
                <th scope="col">Stream</th>
                <th scope="col">Delete</th>
                <th scope="col">Modify</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.studlist)
            {
                <tr>
                    <th scope="row">@( ((Int32) 1) + ViewBag.studList.IndexOf(item) )</th>
                    <td>@item.StudId</td>
                    <td>@item.StudFirstName</td>
                    <td>@item.StudLastName</td>
                    <td>@item.StudPhone</td>
                    <td>@item.StudDob</td>
                    <td>@item.StudAddress</td>
                    <td>@item.StudEmail</td>
                    <td>@item.StudDoj</td>
                    <td>@item.StudCourse</td>
                    <td>@item.StudStream</td>
                    <td>
                        <form action="@Url.Action("deleteStudent",new { id=@item.StudId} )" method="post">
                            <input class="btn btn-danger" type="submit" value="Delete" />
                        </form>
                    </td>
                    <td>
                        <a href="@Url.Action("modifyStudent",new { id=@item.StudId})" class="btn btn-primary">Modify</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@if (@ViewBag.message != null)
{
    <script type="text/javascript">
            $(function () {
                alert("@ViewBag.message")
            });
    </script>
}